[submodule "kmisc"]
	path = kmisc
	url = https://git.karasique.xyz/K-Dev/KMisc.git
	branch = dev-lib-cmake
[submodule "GraphGeometry"]
	path = GraphGeometry
	url = https://git.karasique.xyz/kanstancin/GraphGeometry.git
